@charset "utf-8";

/* ----すべてのボックス------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}



/* ----共通するフォントサイズ------------------------------------------------------------ */

html{
    font-size:100%; /*すべてのフォントサイズを16px基準*/
}

.h2-font-size{
    font-size:2.3rem;
}

.h3-font-size{
    font-size:1.36rem;
}


img:not(.logo){
    max-width:95%; /*疑似要素でlogoタグだけ適用しない*/
}


/* ----ヘッダーに関するオプション------------------------------------------------------------ */
header {
    position:absolute; /*mainにbackground-imageをつけて画面上部から画像を出力したい場合はposition:absolute;を使用する*/
    width:100%;/*ただ、absoluteを使うとheader幅は小さくなるのでwidth100％にする*/
    z-index:3;
    background-color:black;
}

header .logo{
    height:15vh;
    width:15vh;
}

header a{
    text-decoration: none;
    transition:all 0.2s;
}


header .header-container{
    max-width:1800px;
    margin:0 auto; /*ブロック要素を真ん中にする記法*/
    padding:0 80px 0 70px;
}

.navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header ul li a:hover{
    opacity: 0.5;
}


/* -----------header nav ul section------------------------------ */
.global-nav-lists {
    display: flex;
    flex-wrap: nowrap; /*折り返されず一行で表示する*/
    justify-content: flex-end;/*アイテムを末尾にそろえる*/
    width: 100%;
    transition:all 0.5s ease-in-out;
    list-style: none;
}

/* -----------header nav li section----------------------------------- */
.global-nav-lists li{
    margin-right: 25px; /*liタグの間隔を指定*/
}

/* -----------header nav txt section----------------------------------- */

.global-nav-txt {
    color:white;
    font-size: 1.2375rem;
    font-weight: 700;
    display: inline-block;
    padding-top:6px;
  }

.global-nav-subtxt {
    color:white;
    font-size: 0.725rem;
    font-weight: 500;
    letter-spacing: 0.18em;
    display: block;
    text-align: center;
    margin-top: 2px;
}

/*------header btn section*/
.navigation .btn span{
    color:white;
    font-size:17px;
    line-height:39px;
    display: none;
}

/*-----main  LP section----------------*/
.LP{
    background-image:url("https://github.com/sakiyuuuki/festinalente.blog/blob/main/bg.jpg?raw=true"); 
    background-position:center ;/*背景画像の位置を設定する記法　複数を組み合わせることも可能。今回は真ん中の下側と設定*/
    background-size: cover;            
    height:100vh;
    display:flex;
    align-items:center;
}

.LP::before {     /*画像を少し暗くする*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}


.LP-container{
    color:white;
    margin:0 auto;
    max-width:1080px;
    text-align:center;
    position:relative;
    z-index:2;
    padding-top:60px;
}
.LP-container h1{
    font-size: 4.06rem;
    margin-bottom: 15px;
    font-weight:500;
}

.LP-container p {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom:40px;
}

.LP-container .button-area a{
    padding: 17px 30px;
    background: #da9168;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.0625rem;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration:none;    
    margin-right:30px;
    transition-duration:.2s;
}

.button-area a:hover {
    background-color: #da9168;

}

/*-----main  Introduction section----------------*/
main section:not(.LP){
    margin-top:100px;
}

main h2{
    font-size:3.5rem;
    margin-bottom:15px;
}

.Introduction-container{
    max-width:980px;
    width:90%;
    margin:0 auto;
}

/*.section-title{
    padding-bottom:12px;
    text-decoration:underline  #2cb67d;
    text-underline-offset:8px;
    text-decoration-thickness:3px;
    width:20vw;
}*/

.Intro-txt{
    font-size:1.55rem;
    line-height:2.8rem;
    letter-spacing:0.14em;
}
.Introduction-container hr{
    border:solid 2px #2cb67d;
    margin-bottom:16px;
    width:48px;
}

/*-----main  OutPut section----------------*/
.Output-article{
    margin-bottom:45px;
    background-color:rgb(241, 240, 240);
    padding-top:15px;
    padding-bottom:45px;
}

.Output-article .Output-container{
    max-width:980px;
    width:90%;
    margin:0 auto;
}

.Output-category {
    text-align: center;
    padding-top:15px;
    padding-bottom:20px;
    font-weight:600;
}

.Output-article .row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.Output-article .col{
    background-color:#ffffff;
    width:32%;
    padding:20px;
    margin-bottom:30px;
}


.Output-article .col h3{
    font-size:1.55rem;
    font-weight:600;
    margin-bottom:16px;
}

.Output-article .col hr{
    border:solid 2px #2cb67d;
    margin-bottom:16px;
    width:48px;
}

.Output-article .col .text{
    font-size:1.05rem;
    line-height:1.5;
}

.Output-article .Output-container .row .col .icon{
    display:block;
    min-width: 45px;
    height: 60px;
    align-items:center;
    text-align: left;
}
.Output-article .Output-container .row .col .icon ion-icon {
    font-size: 2.5em;
}

.Output-article .Output-container hr{
    border:solid 2px #2cb67d;
    margin-bottom:16px;
    width:48px;
}

/*-----About us section----------------*/
.About-us{
    margin-bottom:60px;

}

.About-us-container{
    max-width:960px;
    width:90%;
    margin:0 auto;
}

.About-us-container .row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
    margin-bottom:60px;
}

.About-us .col{
    width:46%;
}
.About-us .col h2{
    padding-bottom:15px;
}

.About-us-txt{
    font-size:1.05rem;
    line-height:1.8rem;
}

.About-us .col hr{
    border:solid 2px #2cb67d;
    margin-bottom:16px;
    width:48px;
}
/* ----News section-----------*/
.News {
    padding-top:60px;
    margin-bottom:60px;
}

.News .News-container{
    max-width:960px;
    width:90%;
    margin:0 auto;
}

.News h2{
    font-size:28px;
    font-weight:500;
    text-align:center;
    margin-bottom:15px;
}

.News hr{
    border:solid 2px #2cb67d;
    margin:0 auto 40px;
    width:60px;
}

.News ul{
    max-width:700px;
    margin:0 auto;

}

.News li{
    border:solid 1px black;
    margin-bottom:20px;
    padding:16px 24px;
    list-style:none;
}

.News .date{
    font-weight:500;
    letter-spacing:1px;
    margin-bottom:6px;
}

/* ----footer section---------------------------------------------------------------- */
footer{
    z-index:100;
} 

footer ul{
    list-style:none;
    text-align:center;
}

footer ul li{
    display:inline-block;
    margin-top:10px;
    margin-right:40px;
}

footer ul li a{
    text-decoration:none;
    color:white;
}

.copyright{
    color:white;
    font-size:12px;
    margin-top:10px;
}

footer nav{
    width:100%;
    background-color:black;
    padding-bottom:10px;
    padding-left:20px;
    
}
/* ----mediaquery---------------------------------------------------------------- */

@media screen and (max-width:767px){
    header .header-container{
        padding:0 20px 0 10px;
    }

    header .logo{
        height:8vh;
        width:8vh;
    }

    .global-nav-lists li{
        margin-right: 15px; /*liタグの間隔を指定*/
    }
    
    /* -----------header nav txt section----------------------------------- */
    
    .global-nav-txt {
        font-size: 0.6375rem;
        font-weight: 700;
      }
    
    .global-nav-subtxt {
        color:white;
        font-size: 0.525rem;
       
    }
    
    .LP-container h1{
        font-size: 1.56rem;
    }
    .LP-container p{
        font-size: 1.075rem;
    }
    .Introduction-container h2{
        font-size:2.0rem;
    }
    .Intro-txt{
        font-size:1.10rem;
        line-height:1.8rem;
        letter-spacing:0.10em;
    }

    .Output-article .col{
        width:100%;
        margin-bottom:20px;
    }
    .About-us .col{
        width:100%;
        margin-bottom:30px;
    }
    .LP-container .button-area a{
        padding: 10px 22px;
        font-size: 0.9625rem;
        margin-right:10px;
        
    }
}
@media screen and (max-width:575px){
    .global-nav-lists li{
        margin-right: 10px; /*liタグの間隔を指定*/
    }
    
    /* -----------header nav txt section----------------------------------- */
    
    .global-nav-txt {
        font-size: 0.5375rem;
        font-weight: 700;
      }
    
    .global-nav-subtxt {
        color:white;
        font-size: 0.325rem;
       
    }
}

@media screen and (max-width:484px){
    .global-nav-lists li{
        margin-right: 6px; /*liタグの間隔を指定*/
    }
    
    /* -----------header nav txt section----------------------------------- */
    
    .global-nav-txt {
        font-size: 0.48rem;
        font-weight: 700;
      }
    
    .global-nav-subtxt {
        color:white;
        font-size: 0.225rem;
       
    }
    header .logo{
        height:7vh;
        width:7vh;
    }
}
