@charset "utf-8";

/* ----すべてのボックス------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

/* ----共通するフォントサイズ------------------------------------------------------------ */

html{
    font-size:100%; /*すべてのフォントサイズを16px基準*/
}

.h2-font-size{
    font-size:2.2rem;
}

.h3-font-size{
    font-size:1.36rem;
}


img:not(.logo){
    max-width:95%; /*疑似要素でlogoタグだけ適用しない*/
}


  /* ----ヘッダーに関するオプション------------------------------------------------------------ */
header{   
    width:100%;
    height:100vh;
    align-items:center; /*縦軸に中央揃え*/
    margin:0 auto;
    justify-content:space-between;
    background-image:url("https://github.com/sakiyuuuki/festinalente.blog/blob/main/bg.jpg?raw=true");
    background-size:cover;
    background-position:0 30px;
    position:relative;
    
}

header::before {     /*画像を少し暗くする*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
  }



header .logo{
    height:15vh;
    width:15vh;
}




header a{
    text-decoration: none;
    transition:all 0.2s;
}




/* ----ヘッダーナビゲーション--------------------------------------------- */
.navigation{
    width: 100%; /*親要素に対して100%(この場合header*/
    background-color: black;
    display:flex;
    align-items:center;
    padding:0 80px 0 70px;
    position: fixed;
    top:0;
    left: 0;
    z-index:100;
}

/* -----------ulタグ----------------------------------- */
.global-nav-lists {
    display: flex;
    flex-wrap: nowrap; /*折り返されず一行で表示する*/
    justify-content: flex-end;/*アイテムを末尾にそろえる*/
    width: 100%;
    transition:all 0.5s ease-in-out;
    list-style: none;
  }


/* -----------　liタグ----------------------------------- */
.global-nav-lists li{
    margin-right: 25px; /*liタグの間隔を指定*/
}



/* -----------　テキスト部分----------------------------------- */

.global-nav-txt {
    color:white;
    font-size: 1.2375rem;
    font-weight: 700;
    display: inline-block;
    padding-top:6px;
  }

.global-nav-subtxt {
    color:white;
    font-size: 0.725rem;
    font-weight: 500;
    letter-spacing: 0.18em;
    display: block;
    text-align: center;
    margin-top: 2px;
}

header ul li a:hover{
    opacity: 0.5;
}



header h1 {
       position:absolute;
       top:40%;
       left: 15%;
       margin-bottom: 15px;
       font-size: 4.06rem;
       color: white;
       
    
}
      
header p {
      position:absolute;
      top:53%;
      left: 32%;
      font-size: 1.875rem;
      font-weight: 600;
      color: white;
     
}

header .button-area {
    margin-top: 40px;
}

.button-area a {
    padding: 17px 30px;
    background: #da9168;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.0625rem;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration:none;
    position:absolute;
    top:63%;
    left: 42%;
}

.button-area .free {
    margin-right: 30px;
}
  
.button-area button:hover {
    color: #767685;
}

/* ----ハンバーガーメニュー---------------------------------------------------------------- */

.burger{
    text-align:center;
    padding:20px 0;
    cursor:pointer;
    display: none;
    
  }   

.burger div{
    width:25px;
    height:3px;
    background-color: white;
    margin: 5px;
    transition:0.5s ease;
}

.nav-active{
    transform:translateX(0%) !important;
}

/*1024pxを下回ったときに以下の処理をする*/
@media screen and (max-width:1100px) {
    .global-nav-txt{
        font-size: 0.975rem;
    }
    .global-nav-subtxt{
        font-size: 0.675rem;
    }
    header{
        background-image:url(./_image/Thai.jpg);
    }

    header h1{
       font-size: 3.56rem;
       
    }
}

/*1024pxを下回ったときに以下の処理をする*/
@media screen and (max-width:1024px) {
    .navigation{
        padding:0 40px 0 30px;
    }
    .Intro-txt{
        font-size:1.2rem;
        line-height:2.0rem;
        letter-spacing:0.10em; 
    }
}

@media screen and (max-width:950px) {
    .global-nav-lists{
        position:absolute;
        right: 0px;
        left: 220px;
        height:86vh;
        top:14vh;
        background-color:black;
        flex-direction:column;
        justify-content:center;
        transform:translateX(100%)
    }

    .burger{
        display: block;
        padding-right:45px;
        padding-top:35px;
    }



    header h1{
        font-size: 3.06rem;
        
     }
     header p{
        font-size: 1.575rem;
        top:50%;
     }
     .button-area a {
        padding: 14px 26px;
        top:58%;
        
    }
}

@media screen and (max-width:850px) {

    .Introduction,.Output-article,.About-us{
        padding :0 30px; /*sectionタグを中央に配置*/

    }
    header h1{
        font-size: 2.86rem;
        
     }
     header p{
        font-size: 1.475rem;
        top:49%;
     }
     .button-area a {
        padding: 13px 25px;
        top:56%;
        left: 41%;
    }
    
    

}

@media screen and (max-width:800px) {
    header h1{
        font-size: 2.66rem;
        
     }
     header p{
        font-size: 1.405rem;
        top:48.5%;
     }
     .button-area a {
        padding: 12.5px 24.5px;
        top:56%;
        left: 41%;
    }
}

@media screen and (max-width:400px) {
    header h1{
        font-size: 1.46rem;
        
     }
     header p{
        font-size: 1.005rem;
        top:45.5%;
        left:28%;
     }
     .button-area a {
        padding: 12.5px 24.5px;
        top:52%;
        left: 35%;
    }
    
    .Introduction h2{
        font-size:1.8rem; 
    }
    .Introduction p{
        font-size:0.8rem; 
    }
}


/* ----メイン---------------------------------------------------------------- */
main section{
    padding :0 195px; /*sectionタグを中央に配置*/
    margin-top:100px; /*section同士の幅を指定*/
}




/* ----Output---------------------------------------------------------------- */
.item-align-middle{
    display:flex;
}
.title{
    padding-bottom:12px;
    text-decoration:underline;
    text-underline-offset:8px;
    text-decoration-thickness:2px;
    
}


.Intro-txt{
    font-size:1.55rem;
    line-height:2.4rem;
    letter-spacing:0.14em;
}

/* ----Category---------------------------------------------------------------- */

.Output-category {
    padding-bottom:30px;
}

.New-articles h3{
    padding-top:15px;
    padding-bottom:30px;
}


/* ----About us---------------------------------------------------------------- */

.About-us{
    padding-bottom:100px;
    display: flex;
    justify-content: space-between;
}
.About-us p{
    width:49vh;
}

.logo2{
    width:28vh;
    height:28vh;
    border-radius: 50%;
}

/* ----footerタグ---------------------------------------------------------------- */
 footer ul{
    list-style:none;
    text-align:center;
}

footer ul li{
    display:inline-block;
    margin-top:10px;
    margin-right:40px;
}

footer ul li a{
    text-decoration:none;
    color:white;
}

.copyright{
    color:white;
    font-size:12px;
    margin-top:10px;
}

footer nav{
    width:100%;
    background-color:black;
    padding-bottom:10px;
    padding-left:20px;
    
}
