@charset "utf-8";

/* ----すべてのボックス------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

/* ----共通するフォントサイズ------------------------------------------------------------ */

html{
    font-size:100%; /*すべてのフォントサイズを16px基準*/
}

.h2-font-size{
    font-size:2.2rem;
}

.h3-font-size{
    font-size:1.36rem;
}


img:not(.logo){
    max-width:95%; /*疑似要素でlogoタグだけ適用しない*/
}


  /* ----ヘッダーに関するオプション------------------------------------------------------------ */
header{   
    width:100%;
    padding-top:66.66666%;
    align-items:center; /*縦軸に中央揃え*/
    margin:0 auto;
    justify-content:space-between;
    background-image:url(https://github.com/sakiyuuuki/festinalente.blog/blob/main/bg.jpg?raw=true);
    background-size:cover;
    background-position:bottom;
    position:relative;
    background-repeat:no-repeat;
}

header::before {     /*画像を少し暗くする*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
  }



header .logo{
    height:15vh;
    width:15vh;
}




header a{
    text-decoration: none;
    transition:all 0.2s;
}




/* ----ヘッダーナビゲーション--------------------------------------------- */
.navigation{
    width: 100%; /*親要素に対して100%(この場合header*/
    background-color: black;
    display:flex;
    align-items:center;
    padding:0 80px 0 70px;
    position: fixed;
    top:0;
    left: 0;
    z-index:100;
}

/* -----------ulタグ----------------------------------- */
.global-nav-lists {
    display: flex;
    flex-wrap: nowrap; /*折り返されず一行で表示する*/
    justify-content: flex-end;/*アイテムを末尾にそろえる*/
    width: 100%;
    transition:all 0.5s ease-in-out;
    list-style: none;
  }


/* -----------　liタグ----------------------------------- */
.global-nav-lists li{
    margin-right: 25px; /*liタグの間隔を指定*/
}



/* -----------　テキスト部分----------------------------------- */

.global-nav-txt {
    color:white;
    font-size: 1.2375rem;
    font-weight: 700;
    display: inline-block;
    padding-top:6px;
  }

.global-nav-subtxt {
    color:white;
    font-size: 0.725rem;
    font-weight: 500;
    letter-spacing: 0.18em;
    display: block;
    text-align: center;
    margin-top: 2px;
}

header ul li a:hover{
    opacity: 0.5;
}



header h1 {
       position:absolute;
       top:40%;
       left: 15%;
       margin-bottom: 15px;
       font-size: 4.06rem;
       color: white;
       
    
}
      
header p {
      position:absolute;
      top:53%;
      left: 32%;
      font-size: 1.875rem;
      font-weight: 600;
      color: white;
     
}

header .button-area {
    margin-top: 40px;
}

.button-area a {
    padding: 17px 30px;
    background: #da9168;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.0625rem;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration:none;
    position:absolute;
    top:63%;
    left: 42%;
}

.button-area .free {
    margin-right: 30px;
}
  
.button-area button:hover {
    color: #767685;
}

/* ----ハンバーガーメニュー---------------------------------------------------------------- */

.burger{
    text-align:center;
    padding:20px 0;
    cursor:pointer;
    display: none;
    
  }   

.burger div{
    width:25px;
    height:3px;
    background-color: white;
    margin: 5px;
    transition:0.5s ease;
}

.nav-active{
    transform:translateX(0%) !important;
}

@keyframes navLinksFade {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}


/* ----メイン---------------------------------------------------------------- */
main section{
    padding :0 13%; /*sectionタグを中央に配置*/
    margin-top:100px; /*section同士の幅を指定*/
}




/* ----Output---------------------------------------------------------------- */
.item-align-middle{
    display:flex;
}
.title{
    padding-bottom:12px;
    text-decoration:underline;
    text-underline-offset:8px;
    text-decoration-thickness:2px;
    width:20vw;
}


.Intro-txt{
    font-size:1.55rem;
    line-height:2.4rem;
    letter-spacing:0.14em;
}

/* ----Category---------------------------------------------------------------- */

.Output-category {
    padding-bottom:30px;
}

.New-articles h3{
    padding-top:15px;
    padding-bottom:30px;
}


/* ----About us---------------------------------------------------------------- */

.About-us{
    padding-bottom:100px;
    display: flex;
    justify-content: space-between;
}

.About-us-info {
    width:35vw;
}

.About-us p{
    font-size:clamp(1.0rem,1.3vw,1.6rem);
}

.logo2{
    margin-top:10px;
    width:50vh;
    height:30vh;
}
@media screen and (max-width:1024px){
    .logo2{
        width:48vh;
        height:33vh; 
        margin-top:23px;
    }

    header .logo{
        height:10vh;
        width:10vh;
    }
    .navigation{
        padding:0 40px 0 30px;
    }
    .global-nav-txt {
        font-size: 1.1375rem;
        padding-top:6px;
      }
    header h1 {
        top:39%;
        left: 10%;
    }
       
    header p {
        top:53%;
        left: 30%;
    }
    .button-area a {
        top:63%;
        left: 41%;
    }
}
@media screen and (max-width:950px){
    .global-nav-lists{
        position:absolute;
        right: 0px;
        left: 550px;
        height:89.5vh;
        top:10.5vh;
        background-color:black;
        justify-content:flex-start;
        align-items:center;
        flex-direction:column; 
        transform:translateX(100%)
      }

      .global-nav-lists li{
        margin-top:45px;
        margin-right: 540px;
        margin-bottom:40px;
        opacity:0;
       
      }
    .burger{
        display:block;
    }
    .navigation{
        justify-content:space-between;
    }

    .global-nav-lists{
        height:91.5vh;
        top:8.5vh;
    }

    header .logo{
        height:8vh;
        width:8vh;
    }

    header h1 {
        top:39%;
        left: 17%;
        font-size: 2.76rem;
    }
       
    header p {
        top:52%;
        left: 27%;
        font-size: 1.375rem;
    }
    .button-area a {
        top:62%;
        left: 40%;
        padding: 15px 26px;
        font-size:0.98rem;
    }

    .About-us{
        flex-wrap:wrap;
    }

    .About-us p{
        font-size:1.5rem;
        width:200%;
    }

    .logo2{
        width:190%;
        height:100%;
    }
}

@media only screen and (max-width:400px){
    header h1 {
        top:39%;
        left: 8%;
        font-size: 1.56rem;
    }
       
    header p {
        top:54%;
        left: 22%;
        font-size: 0.775rem;
    }
    .button-area a {
        top:65%;
        left: 39%;
        padding: 8px 12px;
        font-size:0.58rem;
    }

    .About-us h2{
        width:120%;
    }
}


/* ----footerタグ---------------------------------------------------------------- */
footer{
    z-index:100;
} 

footer ul{
    list-style:none;
    text-align:center;
}

footer ul li{
    display:inline-block;
    margin-top:10px;
    margin-right:40px;
}

footer ul li a{
    text-decoration:none;
    color:white;
}

.copyright{
    color:white;
    font-size:12px;
    margin-top:10px;
}

footer nav{
    width:100%;
    background-color:black;
    padding-bottom:10px;
    padding-left:20px;
    
}

